html, body {
  height: 100%;
}

body {
  margin: 0;
  color: #333;
  min-width: 320px;
}

/* General reset */
form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

img {
  border-style: none;
}

input, select, textarea {
  vertical-align: middle;
  font: 100% 'Roboto', sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #0186ef;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

q {
  quotes: none;
}

q:before {
  content: '';
}

q:after {
  content: '';
}

/* General settings */
article, aside, audio, canvas, datalist, details, figcaption, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, summary, time, video {
  display: block;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

::-moz-placeholder {
  color: #000;
  opacity: 1;
}

:-moz-placeholder {
  color: #000;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

#header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0 40px;
}

@media (max-width: 550px) {
  #header {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 10px;
  }
}

#header .logo {
  display: inline-block;
  width: 190px;
}

#header .logo img {
  display: block;
  margin: 0 auto;
}

#header .sign-in {
  margin: 0;
  padding: 15px 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media (max-width: 550px) {
  #header .sign-in {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

#header .sign-in li {
  padding: 0 0 0 33px;
}

#header .sign-in li:before {
  content: none;
}

#header .sign-in li:first-child {
  padding-left: 0;
}

@media (max-width: 550px) {
  #header .sign-in li {
    padding: 0 16px !important;
  }
}

#footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
  padding: 0 15px;
  margin-top: -68px;
}

@media (max-width: 570px) {
  #footer {
    margin-top: 0;
    height: auto;
    text-align: center;
    padding: 15px;
  }
}

#footer .copy {
  display: inline-block;
}

@media (max-width: 570px) {
  #footer .copy {
    display: block;
    width: 100%;
  }
}

#footer ul {
  margin: 0;
  padding: 15px 0;
  list-style: none;
  font-size: 16px;
  line-height: 18px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

@media (max-width: 570px) {
  #footer ul {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer ul li {
    padding: 5px 10px !important;
  }
}

#footer ul li {
  padding-left: 33px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer ul li:before {
  content: none;
}

#footer ul li:first-child {
  padding-left: 0;
}

body {
  font: 16px/18px 'Roboto', sans-serif;
}

.blockquote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 570px) {
  .blockquote {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .blockquote blockquote {
    padding: 0 !important;
  }
  .blockquote .img-quote {
    width: 100%;
    padding-bottom: 10px;
  }
  .blockquote .img-quote img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.blockquote blockquote {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin: 0;
  padding: 0 0 5px 30px;
}

.blockquote blockquote q {
  margin: 0;
  padding: 0;
  font-size: 26px;
  line-height: 34px;
  color: #333;
  position: relative;
}

.blockquote blockquote q:after {
  content: '"';
  font: 26px/34px 'Roboto', sans-serif;
  color: #ccc;
}

.blockquote blockquote q:before {
  content: '"';
  position: absolute;
  left: -12px;
  top: 0;
  font: 26px/34px 'Roboto', sans-serif;
  color: #ccc;
}

.blockquote blockquote q strong {
  font-weight: 700;
}

h1 {
  margin: 16px 0 0 0;
  font-size: 32px;
  line-height: 34px;
  color: #000;
  font-weight: 500;
  padding-bottom: 15px;
}

h2 {
  margin: 0;
  font-size: 26px;
  line-height: 28px;
  font-weight: 700;
  padding: 25px 0 10px;
}

h3 {
  margin: 0;
  color: #000;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  padding: 10px 0 10px;
}

p {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 26px;
}

p strong {
  font-weight: 700;
}

ol {
  margin: 0;
  padding: 20px 0 20px 15px;
  counter-reset: li;
  list-style: none;
}

ol li {
  position: relative;
  padding: 0 0 10px 23px;
  font-size: 18px;
  line-height: 26px;
}

ol li:before {
  position: absolute;
  top: 0;
  left: 0;
  color: #2196f3;
  font: 18px/26px 'Roboto', sans-serif;
  content: counter(li);
  counter-increment: li;
}

ul {
  margin: 0;
  padding: 0 0 25px 12px;
  list-style: none;
}

ul li {
  position: relative;
  padding: 0 0 10px 25px;
  font-size: 18px;
  line-height: 26px;
}

ul li:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  background: #2196f3;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1110px;
  padding: 0 15px;
  min-height: 100%;
}

.wrapper .w1 {
  padding-bottom: 68px;
}

@media (max-width: 570px) {
  .wrapper .w1 {
    padding-bottom: 0;
  }
}

#main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 960px) {
  #main {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

#content {
  padding-left: 65px;
  padding-bottom: 70px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  -webkit-flex-basis: 600px;
      -ms-flex-preferred-size: 600px;
          flex-basis: 600px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 960px) {
  #content {
    padding-left: 0;
    width: 100%;
    padding-bottom: 20px;
  }
}

#sidebar {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  min-width: 190px;
  border: 1px solid #f0f3f6;
  -webkit-border-radius: 17px;
          border-radius: 17px;
  padding: 36px;
}

@media (max-width: 960px) {
  #sidebar {
    padding: 15px;
    width: 100%;
    margin-bottom: 24px;
  }
}

@media (max-width: 550px) {
  #sidebar {
    border: 0;
    padding: 0;
  }
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 960px) {
  #sidebar ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

#sidebar ul li {
  width: 100%;
  padding: 0;
}

#sidebar ul li:before {
  content: none;
}

#sidebar ul li.active a {
  background: #daeeff;
}

#sidebar ul a {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  display: block;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  color: #2196f3;
  padding: 0;
  height: 112px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 550px) {
  #sidebar ul a {
    height: auto;
    padding: 10px 0;
  }
}

#sidebar ul a:hover {
  background: #daeeff;
  text-decoration: none;
}

#sidebar ul a img {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

@media (max-width: 550px) {
  #sidebar ul a img {
    width: 30px;
    height: 30px;
  }
}

#sidebar ul a span {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
}

@media (max-width: 550px) {
  #sidebar ul a span {
    font-size: 12px;
    line-height: 15px;
  }
}

.content-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding-bottom: 24px;
}

.content-info .heading {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 10px 15px 10px 0;
}

.content-info .heading span {
  padding-right: 10px;
  margin: 5px 0;
}

.content-info .heading ul {
  margin: 0 -5px;
  padding: 0;
  list-style: none;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-info .heading ul li {
  padding: 0 5px;
  margin: 5px 0;
}

.content-info .heading ul li:before {
  content: none;
}

.content-info .search {
  border: 1px solid #666;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  height: 35px;
  padding-right: 40px;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.content-info .search input {
  border: 0;
  margin: 0;
  padding: 8px 0 7px 19px;
  font-size: 14px;
  color: #000;
  background: none;
  display: block;
  outline: none;
}

.content-info .search button {
  width: 40px;
  height: 35px;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/search.png) no-repeat 50% 50%;
}

.meta-head {
  font-size: 14px;
  line-height: 16px;
  padding-top: 21px;
}

.meta-head em {
  font-style: normal;
  font-weight: 300;
  display: inline-block;
  vertical-align: middle;
  color: #b6c1cb;
  padding-right: 12px;
  border-right: 1px solid #b6c1cb;
}

.meta-head a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.post {
  padding-bottom: 55px;
}

.post.one-post {
  padding-bottom: 0;
}

.post.one-post + .tags-block {
  padding: 20px 0;
}

.post h1 a {
  color: #000;
}

.post img {
  display: block;
  height: auto;
  max-width: 100%;
  -webkit-border-radius: 20px;
          border-radius: 20px;
}

.footer-post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.footer-post .read-more {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  padding: 12px 18px 8px;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  background: #2196f3;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  min-width: 128px;
  margin: 10px 46px 10px 0;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}

.footer-post .read-more:hover {
  text-decoration: none;
  opacity: .8;
}

.footer-post .soc {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

@media (max-width: 450px) {
  .footer-post .soc {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    width: 100%;
    padding-bottom: 15px;
  }
}

.nav-links {
  padding-bottom: 20px;
}

@media (max-width: 570px) {
  .nav-links {
    text-align: center;
  }
}

.nav-links * {
  display: inline-block;
  vertical-align: middle;
}

.nav-links .prev, .nav-links .next {
  width: 40px;
  height: 40px;
  border: 1px solid #333;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  overflow: hidden;
  background: url(../images/next.png) no-repeat 50% 50%;
}

.nav-links .prev {
  background: url(../images/back.png) no-repeat 50% 50%;
  margin-right: 10px;
}

.nav-links .next {
  margin-left: 10px;
}

.nav-links .meta-nav {
  font-size: 0;
  display: none;
}

.nav-links .page-numbers {
  min-width: 30px;
  text-align: center;
  color: #333;
}

.nav-links .page-numbers:hover {
  text-decoration: none;
  color: #2196f3;
}

.nav-links .page-numbers.dots:hover {
  color: #333;
}

.nav-links .page-numbers.current {
  color: #2196f3;
}

.nav-links span.prev, .nav-links span.next {
  opacity: .3;
}

.tags-block {
  text-align: left;
  color: #333;
  padding-top: 50px;
}

.tags-block span {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  padding-right: 15px;
}

.tags-block a {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 20px;
  margin: 5px 2px;
  color: #333;
  padding: 4px 15px;
  border: 1px solid #333;
  -webkit-border-radius: 13px;
          border-radius: 13px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tags-block a:hover {
  background: #0186ef;
  color: #fff;
  text-decoration: none;
  border-color: #0186ef;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.subscribe-block {
  height: 130px;
  margin-top: 70px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background: #2196f3;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-block p {
  padding: 0;
  color: #fff;
}

.subscribe-block img {
  position: absolute;
  bottom: 0;
  left: 15px;
  display: block;
}

.subscribe-block .form-subscribe {
  padding-left: 213px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 660px) {
  .subscribe-block {
    height: auto;
  }
  .subscribe-block .form-subscribe {
    padding: 10px;
  }
  .subscribe-block img {
    display: none;
  }
}

.post-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.post-nav .p-soc {
  padding: 15px;
  border: 1px solid #e9e9e9;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  margin: 10px 0;
}

.comments {
  margin-top: 50px;
}
